<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <title>대시보드</title>
</head>
<body>
<header>
    <h1>대시보드</h1>
</header>

<main>
    <section>
        <h2 th:text="${student.studentName}"></h2>
        <a th:href="@{/student-dashboard/{studentId}/lectures(studentId=${studentId})}">
            <button>내 강좌 보기</button>
        </a>
    </section>

    <section>
        <h2>마이 페이지</h2>
        <a th:href="@{/student-profile/{studentId}(studentId=${studentId})}">
            <button>마이 페이지</button>
        </a>
    </section>
</main>
</body>
</html>
