<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>학생 목록</title>
    <link rel="stylesheet" href="/studentList.css">
    <style>

        table {
            border-collapse: collapse;
        }

        tr, th {
            border-bottom: 1px solid black;
            padding: 5px 0;

        }
        .student-list {
            padding-left: 200px;
        }

    </style>
</head>
<body>
<nav class="side-menu"></nav>
<div class="container">
    <div class="student-list">
        <h3 class="student-list-title">학생 목록</h3>
        <form class="student-list-filter">

        </form>
        <div class="student-list-content">
            <div class="student-count">
                총 학생 수: <span th:text="${#lists.size(students)}"></span>명
            </div>
            <table class="students" style="border: 1px solid black; width: 100%; text-align: center;">
                <thead>
                <tr>
                    <th>No.</th>
                    <th>학년 반</th>
                    <th>이름(전화번호)</th>
                    <th>보고서</th>
                    <th>제출한 학습지</th>
                    <th>비밀번호</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="students, stat : ${students}">
                    <td th:text="${stat.index + 1}"></td>
                    <td th:text="${students.grade} + '-' + ${students.classNum}"></td>
                    <td th:text="${students.name} + ' (' + ${students.phone} + ')'"></td>
                    <td>
<!--                        보고서 -->
                    </td>
                    <td>
<!--                        제출한 학습지-->
                    </td>
                    <td>
                        <span th:text="'********'"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div>
        <a th:if="${currentPage > 0}" th:href="@{/students(page=${currentPage - 1}, size=10)}">이전</a>
        <span th:text="${currentPage + 1} + ' / ' + ${totalPages}"></span>
        <a th:if="${currentPage < totalPages - 1}" th:href="@{/students(page=${currentPage + 1}, size=10)}">다음</a>
    </div>
    <-- cursor 방식도 구현 -->
</div>
</body>
</html>
