<!DOCTYPE html>
<html xmlns:th="http://thymleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="/studentList.css">
</head>
<body>
<nav class="side-menu"></nav>
<div class="container">
    <div class="student-list">
        <h3 class="student-list-title">학생 목록</h3>
        <div class="student-list-filter"></div>
        <div class="student-list-content">
            <div class="student-count"></div>
            <table class="students" style="border: 1px solid black">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>학년 반</th>
                        <th>아이디(이름)</th>
                        <th>보고서</th>
                        <th>제출한 학습지</th>
                        <th>비밀번호</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>



</body>
</html>