<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>학생 목록</title>
    <link rel="stylesheet" href="/studentList.css">
    <style>

        table {
            border-collapse: collapse;
        }

        tr, th {
            border: 1px solid black;
            padding: 5px 0;

        }
        .student-list {
            padding-left: 200px;
        }
    </style>
</head>
<body>
<nav class="side-menu"></nav>
<div class="container">
    <div class="student-list">
        <h3 class="student-list-title">학생 목록</h3>
        <form class="student-list-filter">

        </form>
        <div class="student-list-content">
            <div class="student-count">
                총 학생 수: <span th:text="${#lists.size(studentTests)}"></span>명
            </div>
            <table class="students" style="border: 1px solid black; width: 100%; text-align: center;">
                <thead>
                <tr>
                    <th>No.</th>
                    <th>강의 이름</th>
                    <th>학년 단원</th>
                    <th>학생 email</th>
                    <th>학생 이름</th>
                    <th>점수</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="studentTests, stat : ${studentTests}">
                    <td th:text="${studentTests.id}"></td>
                    <td th:text="${studentTests.getStudentLecture().getLecture().getName()}"></td>
                    <td th:text="${studentTests.getGrade()} + ' (' + ${studentTests.getChapter()} + ')'"></td>
                    <td th:text="${studentTests.getStudent().getName()}"></td>
                    <td th:text="${studentTests.getScore()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
